@model Subject

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Code"></label>
        <input asp-for="Code" class="form-control" pattern="[A-Za-z]{2}[0-9]{1}" title="Please enter two letters followed by one number" required />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" pattern="[A-Za-z ]*" title="Please enter letters only" required />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Location"></label>
        <select asp-for="Location" class="form-control" required>
            <option value="Online">Online</option>
            <option value="Hybrid">Hybrid</option>
            <option value="On Location">On Location</option>
        </select>
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Status"></label>
        <select asp-for="Status" class="form-control" required>
            <option value="Starting Soon">Starting Soon</option>
            <option value="In Progress">In Progress</option>
            <option value="Completed">Completed</option>
        </select>
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
